@use "@angular/material" as mat;

@mixin theme($theme) {
  .sidenav {
    background-color: mat.get-theme-color($theme, surface-bright);
  }
}

.mat-toolbar {
    background: var(--sys-surface-container-highest) !important;
    color: var(--sys-on-primary-container) !important;
}

.header {
    .example-spacer {
        flex: 1 1 auto;
    }
}