<mat-toolbar class="header gap-4">
    <button mat-icon-button class="primary" aria-label="Example icon-button with menu icon">
      <mat-icon class="cursor-pointer">menu</mat-icon>
    </button>
    <span class="cursor-pointer" routerLink="/dashboard">Vita Pharms</span>
    <span class="example-spacer"></span>
    <a mat-raised-button routerLink="/dashboard" >Dashboard</a>
    <a mat-raised-button routerLink="/patients" >Patients</a>
    <a mat-raised-button>Orders</a>
    <span class="example-spacer"></span>
    <button
    class="theme-switch cursor-pointer"
    type="button"
    aria-label="Toggle theme"
    mat-icon-button
    (click)="darkmode.set(!darkmode())"
    matTooltip="Toggle theme"
    >
    <mat-icon>
      {{ darkmode() ? "light_mode" : "dark_mode" }}
    </mat-icon>
    </button>
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/cart']" routerLinkActive="router-link-active" >
      <mat-icon [matBadge]="badge">add_shopping_cart</mat-icon>
    </a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
    