.successIconColor {
    color: #47a44b !important;
}

.errorIconColor {
    color: #F44336 !important;
}

.infoIconColor {
    color: #2563eb !important;
}

.warnIconColor {
    color: #f9c740 !important;
}