@let m = medicineData();
<h2 mat-dialog-title>Medicine Details</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <!-- Left side: Medicine image -->
            <div class="col-6">
              <img [ngSrc]="m.medicine_image" width="400" height="200" alt="Medicine Image" [placeholder]="m.thumb_medicine_image">
            </div>

            <!-- Right side: Medicine basic info -->
            <div class="col-6">
              <h4>{{m.medicine_name}}</h4>
              <h6>By {{m.manufacturer_name}}</h6>
              <h6>{{m.packing_size}}</h6>
              <h6>MRP: ₹{{m.mrp}}</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Additional information like side effects, how to use, etc. -->
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-content>
          <h5>How the medicine works:</h5>
          <p>{{m.how_medicine_works}}</p>

          <h5>How to use:</h5>
          <p>{{m.how_to_use}}</p>

          <h5>Side effects:</h5>
          <p>{{m.side_effects}}</p>

          <h5>Precautions:</h5>
          <p *ngIf="m.alcohol"><strong>Alcohol:</strong> {{m.alcohol}}</p>
          <p *ngIf="m.driving"><strong>Driving:</strong> {{m.driving}}</p>
          <p *ngIf="m.kidney"><strong>Kidney:</strong> {{m.kidney}}</p>
          <p *ngIf="m.lactation"><strong>Lactation:</strong> {{m.lactation}}</p>
          <p *ngIf="m.liver"><strong>Liver:</strong> {{m.liver}}</p>
          <p *ngIf="m.pregnancy"><strong>Pregnancy:</strong> {{m.pregnancy}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn">Cancel</button>
  <button mat-fab extended [mat-dialog-close]="true" cdkFocusInitial><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
</mat-dialog-actions>
