
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$Practice-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($Practice-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Practice-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Practice-theme);
@use "@angular/material" as mat;
@use "./app/layout/header/header.component" as layout-theme;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
    scale: -2,
  )
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  @include layout-theme.theme($light-theme);

  background: mat.get-theme-color($light-theme, surface);

  &.dark {
    @include mat.all-component-colors($dark-theme);
    @include layout-theme.theme($dark-theme);

    background: mat.get-theme-color($dark-theme, surface);
    .mat-background {
  background-image: linear-gradient(#0f2027, #203a43,#2c5364)
}
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
--primary-color: #004f4f ;
--secondary-color: #723600;
--secondary2-color: #ffb787;
--accent-color: #00dddd;
--dark:#0f1313;
--whitesmoke: #f5f5f5;
}

// .mat-background {
//   background: var(--dark);
// }


// .mat-background {
//   background-image: linear-gradient(#0f2027, #203a43,#2c5364)
// }

p{
  color: var(--whitesmoke);
}

html, body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary-color) var(--background-color); /* Firefox */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-track {
  background-color: #0f2027;
  border-radius: 4px;
}

//dialog

.custom-dialog-container {
  // background-color: #004f4f;
  color: #f5f5f5;
  max-width: 50%;
  padding: 24px;
  border-radius: 8px;
  --mat-dialog-container-max-width:1000px !important
}



.custom-dialog-container .mat-dialog-title {
  color: #00dddd;
}

.custom-dialog-container .mat-dialog-content {
  color: #f5f5f5;
}

.custom-dialog-container .mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.custom-dialog-container .mat-button {
  background-color: #723600;
  color: #f5f5f5;
}

.custom-dialog-container .mat-button:hover {
  background-color: #ffb787;
}


// snack
.red{
  --mdc-snackbar-container-color:red !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white;
  white-space: pre-wrap

}

.green{
  --mdc-snackbar-container-color: green !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap
}
.info{
  --mdc-snackbar-container-color: rgb(154, 147, 20) !important;
  --mdc-snackbar-supporting-text-color: black !important;
  --mat-mdc-snack-bar-button-color: black !important;
  white-space: pre-wrap
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
