@use '@angular/material' as mat;
@include mat.core();

$Practice-theme: mat.define-theme((color: (use-system-variables:true)));

html {
  --sys-primary: rgb(139 79 37);
  --sys-surface-tint: rgb(139 79 37);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(255 219 200);
  --sys-on-primary-container: rgb(49 19 0);
  --sys-secondary: rgb(117 88 70);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(255 219 200);
  --sys-on-secondary-container: rgb(43 23 9);
  --sys-tertiary: rgb(97 97 51);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(231 229 172);
  --sys-on-tertiary-container: rgb(29 29 0);
  --sys-error: rgb(186 26 26);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(255 218 214);
  --sys-on-error-container: rgb(65 0 2);
  --sys-background: rgb(255 248 245);
  --sys-on-background: rgb(34 26 21);
  --sys-surface: rgb(255 248 245);
  --sys-on-surface: rgb(34 26 21);
  --sys-surface-variant: rgb(244 222 211);
  --sys-on-surface-variant: rgb(82 68 60);
  --sys-outline: rgb(132 116 107);
  --sys-outline-variant: rgb(215 194 184);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(56 46 41);
  --sys-inverse-on-surface: rgb(255 237 229);
  --sys-inverse-primary: rgb(255 182 137);
  --sys-primary-fixed: rgb(255 219 200);
  --sys-on-primary-fixed: rgb(49 19 0);
  --sys-primary-fixed-dim: rgb(255 182 137);
  --sys-on-primary-fixed-variant: rgb(110 56 16);
  --sys-secondary-fixed: rgb(255 219 200);
  --sys-on-secondary-fixed: rgb(43 23 9);
  --sys-secondary-fixed-dim: rgb(229 191 169);
  --sys-on-secondary-fixed-variant: rgb(92 65 48);
  --sys-tertiary-fixed: rgb(231 229 172);
  --sys-on-tertiary-fixed: rgb(29 29 0);
  --sys-tertiary-fixed-dim: rgb(203 201 146);
  --sys-on-tertiary-fixed-variant: rgb(73 73 30);
  --sys-surface-dim: rgb(231 215 207);
  --sys-surface-bright: rgb(255 248 245);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(255 241 234);
  --sys-surface-container: rgb(252 235 226);
  --sys-surface-container-high: rgb(246 229 220);
  --sys-surface-container-highest: rgb(240 223 215);
}

.dark {
  --sys-primary: rgb(255 182 137);
  --sys-surface-tint: rgb(255 182 137);
  --sys-on-primary: rgb(81 35 0);
  --sys-primary-container: rgb(110 56 16);
  --sys-on-primary-container: rgb(255 219 200);
  --sys-secondary: rgb(229 191 169);
  --sys-on-secondary: rgb(67 43 28);
  --sys-secondary-container: rgb(92 65 48);
  --sys-on-secondary-container: rgb(255 219 200);
  --sys-tertiary: rgb(203 201 146);
  --sys-on-tertiary: rgb(50 50 9);
  --sys-tertiary-container: rgb(73 73 30);
  --sys-on-tertiary-container: rgb(231 229 172);
  --sys-error: rgb(255 180 171);
  --sys-on-error: rgb(105 0 5);
  --sys-error-container: rgb(147 0 10);
  --sys-on-error-container: rgb(255 218 214);
  --sys-background: rgb(25 18 13);
  --sys-on-background: rgb(240 223 215);
  --sys-surface: rgb(25 18 13);
  --sys-on-surface: rgb(240 223 215);
  --sys-surface-variant: rgb(82 68 60);
  --sys-on-surface-variant: rgb(215 194 184);
  --sys-outline: rgb(159 141 131);
  --sys-outline-variant: rgb(82 68 60);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(240 223 215);
  --sys-inverse-on-surface: rgb(56 46 41);
  --sys-inverse-primary: rgb(139 79 37);
  --sys-primary-fixed: rgb(255 219 200);
  --sys-on-primary-fixed: rgb(49 19 0);
  --sys-primary-fixed-dim: rgb(255 182 137);
  --sys-on-primary-fixed-variant: rgb(110 56 16);
  --sys-secondary-fixed: rgb(255 219 200);
  --sys-on-secondary-fixed: rgb(43 23 9);
  --sys-secondary-fixed-dim: rgb(229 191 169);
  --sys-on-secondary-fixed-variant: rgb(92 65 48);
  --sys-tertiary-fixed: rgb(231 229 172);
  --sys-on-tertiary-fixed: rgb(29 29 0);
  --sys-tertiary-fixed-dim: rgb(203 201 146);
  --sys-on-tertiary-fixed-variant: rgb(73 73 30);
  --sys-surface-dim: rgb(25 18 13);
  --sys-surface-bright: rgb(65 55 49);
  --sys-surface-container-lowest: rgb(20 13 8);
  --sys-surface-container-low: rgb(34 26 21);
  --sys-surface-container: rgb(38 30 25);
  --sys-surface-container-high: rgb(49 40 35);
  --sys-surface-container-highest: rgb(61 51 45);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--sys-background) !important;
}



:root {
  @include mat.all-component-themes($Practice-theme);
}

// // Comment out the line below if you want to use the pre-defined typography utility classes.
// // For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// // @include mat.typography-hierarchy($Practice-theme);

// // Comment out the line below if you want to use the deprecated `color` inputs.
// // @include mat.color-variants-backwards-compatibility($Practice-theme);
// @use "@angular/material" as mat;
// @use "./app/layout/header/header.component" as layout-theme;

// @include mat.core();

// $light-theme: mat.define-theme(
//   (
//     color: (
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     density: (
//     scale: -2,
//   )
//   )
// );
// $dark-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: mat.$magenta-palette,
//       tertiary: mat.$violet-palette,
//     ),
//   )
// );

// html {
//   @include mat.all-component-themes($light-theme);
//   @include layout-theme.theme($light-theme);

//   background: mat.get-theme-color($light-theme, surface);

//   &.dark {
//     @include mat.all-component-colors($dark-theme);
//     @include layout-theme.theme($dark-theme);

//     background: mat.get-theme-color($dark-theme, surface);
//     .mat-background {
//   background-image: linear-gradient(#0f2027, #203a43,#2c5364)
// }
//   }
// }


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// :root{
// --primary-color: #004f4f ;
// --secondary-color: #723600;
// --secondary2-color: #ffb787;
// --accent-color: #00dddd;
// --dark:#0f1313;
// --whitesmoke: #f5f5f5;
// }

// // .mat-background {
// //   background: var(--dark);
// // }


// // .mat-background {
// //   background-image: linear-gradient(#0f2027, #203a43,#2c5364)
// // }

// p{
//   color: var(--whitesmoke);
// }

// html, body {
//   scrollbar-width: thin; /* Firefox */
//   scrollbar-color: var(--primary-color) var(--background-color); /* Firefox */
// }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sys-primary-container);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--sys-primary);
}

::-webkit-scrollbar-track {
  background-color: var(--sys-inverse-on-surface);
  border-radius: 2px;
}

// //dialog

.custom-dialog-container {
//   // background-color: #004f4f;
//   color: #f5f5f5;
//   max-width: 50%;
//   padding: 24px;
//   border-radius: 8px;
  --mat-dialog-container-max-width:1000px !important
}



// .custom-dialog-container .mat-dialog-title {
//   color: #00dddd;
// }

// .custom-dialog-container .mat-dialog-content {
//   color: #f5f5f5;
// }

// .custom-dialog-container .mat-dialog-actions {
//   display: flex;
//   justify-content: center;
// }

// .custom-dialog-container .mat-button {
//   background-color: #723600;
//   color: #f5f5f5;
// }

// .custom-dialog-container .mat-button:hover {
//   background-color: #ffb787;
// }


// snack or toast 
.errorCustomToast {
  --mdc-snackbar-container-color: #fce7e7 !important;
  --mdc-snackbar-supporting-text-color: #F44336 !important;
  --mat-mdc-snack-bar-button-color: var(--sys-on-error);
  border: 2px solid #F44336;
  border-left: 8px solid #f44336 !important;
  border-radius: 0 5px 5px 0;
}

.successCustomToast {
  --mdc-snackbar-container-color: #e2fee2 !important;
  --mdc-snackbar-supporting-text-color: #47a44b !important;
  --mat-mdc-snack-bar-button-color: #FFFFFF !important;
  border: 2px solid #4CAF50;
  border-left: 8px solid #4CAF50 !important;
   border-radius: 0 5px 5px 0;
}

.infoCustomToast {
  --mdc-snackbar-container-color: #f0f7ff !important;
  --mdc-snackbar-supporting-text-color: #2563eb !important;
  --mat-mdc-snack-bar-button-color: #212121 !important;
  border: 2px solid #e0e2e6;
  border-left: 8px solid #2563eb !important;
   border-radius: 0 5px 5px 0;
}

.warnCustomToast {
  --mdc-snackbar-container-color: #fff4d7 !important;
  --mdc-snackbar-supporting-text-color: #f9c740 !important;
  --mat-mdc-snack-bar-button-color: #212121 !important;
  border: 2px solid #f9c740;
  border-left: 8px solid #f9c740 !important;
  border-radius: 0 5px 5px 0;
}

.mat-mdc-snack-bar-container {
  margin-top: 70px !important;
}


// // html, body { height: 100%; }
// // body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }